body {
  min-height: 100vh;
  color: var(--color-text);
  background: #21c8b9;
  font-style: italic;
  font-family: "Caveat Brush", cursive;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
