@import './base.scss';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  font-weight: normal;
}

